.App {
  text-align: center;

}
.Board{
  //padding: 15px;
  position: absolute;
  top: 10%;
  left :20%;
  height: 870px;
  width: 990px;
  border-color: black;
  border-style: outset;
}
.App-logo {
  height: 40vmin;
}
#food {
  margin: 5px;

}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}